ul {
    list-style-type: none;
}

.ftco-footer-widget {
    background-color: #222322;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
}

.ftco-heading-2{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ftco-footer-widget ul {
    padding-left: 0;
}

.ftco-footer-widget ul li:not(.ftco-footer-widget ul li:first-child) {
    margin-top: 15px;
}

.office-title {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
}

.email-highlight {
    font-weight: 600;
    font-size: 18px;
    background-color: #8f653b;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.email-highlight:hover {
    background-color: #2a5266;
    color: #fff;
}